services:
  app:
    image: nexa-app
    build:
      context: ./
      target: dev
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    ports:
      - "3000:3000"
